
services:
  database:
    image: postgres:latest
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5200:5200"
    env_file:
      - .env
    restart: always
    depends_on:
      - database

volumes:
  pgdata:

