version: '3.8'

services:
  database:
    image: postgres:latest
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: twoguys/twoguys-backend:latest
    ports:
      - "5200:5200"
    env_file:
      - .env
    restart: always
    depends_on:
      - database

volumes:
  pgdata:
